<p>order-items works!</p>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Food Item</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a  class="btn btn-primary">Food 1</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Food Item</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a class="btn btn-primary">Food 2</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Food Item</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a  class="btn btn-primary">Food 3</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Food Item</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a  class="btn btn-primary">Food 4</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Food Item</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a  class="btn btn-primary">Food 5</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Food Item</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a  class="btn btn-primary">Food 6</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Food Item</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a  class="btn btn-primary">Food 7</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Food Item</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a  class="btn btn-primary">Food 8</a>
          </div>
        </div>
      </div>
  </div>